h1 {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    line-height: .6;
}

h2 {
    font-size: larger;
}


.Pregunta:hover  {
    font-weight: bolder;
    color: rgb(135, 15, 161);
}

p{
    color: rgb(71, 68, 69);
}

#Datos:hover {
    font-weight: bolder;
}

#OtraWeb{
    border: 3px dashed rgb(247, 228, 233) ;
    text-align: center;
    background:rgb(211, 180, 183);
    padding-left: 2px;
    padding-bottom: 3px;
}


body {
    margin: 0 auto;
    max-width: 80em;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    line-height: 1.3;
    padding: 4em 1em;
}

body {
    color: rgb(112, 56, 106);
    /* background-color: rgb(219, 196, 146); */
}

header {
    
    background-color: #412441;
    background-image: url("https://i.pinimg.com/564x/68/1a/58/681a58109e456dbcf280ad9025739cc3.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}

header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
}

a {
    color: #ff00bf;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
}

footer{
    background-color: rgb(110, 129, 163);
    text-align: center;
    line-height: 50px;
    color:rgb(247, 228, 233);
    border-bottom: 3px dashed rgb(247, 228, 233) ;
}