
<%- include('includes/head.ejs') %>

<div id="mascotas">
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="imagenes/haku1.jpeg" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <br><br><br>
                        El es <strong>Haku</strong>! Un animalito muy cariñoso tiene cuatro meses, le gusta mucho el pollo y las croquetas. 
                        Prefiere dormir en el piso que en su cama, le gusta mucho correr y meterse en las cajas. 
                        <br><br><br><br>
                    </p>
                </div>
            </div>
            </article>
        </div>
</div><br><br><hr>


<center> 
    <img src="imagenes/Haku2.jpeg" width="200" height="200">
    <img src="imagenes/Haku3.jpeg" width="200" height="200">
    <img src="imagenes/Haku5.jpeg" width="150" height="200">
    <img src="imagenes/Haku4.jpeg" width="150" height="200">
</center>




    <center> 
        <a href="/users/principal"> <button class="button is-danger is-light"> Volver al inicio</button>  </a>
    </center>



<br>
<hr>
<%- include('includes/foot.ejs') %>