<%- include('includes/head.ejs') %>

<body>

    <h1 id="principal">
        <FONT COLOR="purple">
            <center>NUEVO VIDEOJUEGO FAVORITO!!! </center>
    </h1>
    <h4>Ingresar nuevo personaje...</h4>
    <form action="/juegos/nuevoPersonaje" method="POST">
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" placeholder="Sova" ><br><br>
        <a href="/juegos"><input type="submit" value="Enviar"></a>'
    </form>
    <br><br>
    <a href="/juegos"> <button class="button is-danger is-light">Pagina Inicial</button></a>
    </div>
    </body>

<body>


<%- include('includes/foot.ejs') %>